
<h1 class="bg-primary text-success text-warning">
   Restaurant Menu
</h1>
<div>
 <input type="radio" [checked]="!lunchmenuflag" name="rdoMenu" (click)="changeMenu('b')" > BreakFast
 <input type="radio" [checked]="lunchmenuflag" name="rdoMenu" (click)="changeMenu('l')" > Lunch
 

</div>
<hr color="blue" />

<h3 appBold >Custome Directive</h3>

<button (click)="changeClass()" class="btn btn-warning"  >change class</button> &nbsp;
<button (click)="changeStyle()">change style</button>

<h3 [hidden]="lunchmenuflag" [ngClass]="myCurrentClass"  >Breakfast Menu Items</h3>
<h3 [hidden]="!lunchmenuflag" [ngClass]="myCurrentClass" >Lunch Menu</h3>

<div *ngIf="lunchmenuflag; then printlunch else printbreakfast">
  </div>
<ng-template #printlunch>
<ol>
  <li appBold  *ngFor="let item of lunchMenuItems">{{ item }}</li>
</ol>
</ng-template>

<ng-template #printbreakfast>
    <ol  >
      <li appBold  *ngFor="let item of BreakfastMenuItems">{{ item }}</li>
    </ol>
    </ng-template>

